/* Section 15 Object oriented javascript */
/* #115. What is OOP? */
body{
    background-color: gainsboro;
}
h1{
    text-align: center;
    color: darkslateblue;    
}
p{
    text-align: center;
    color: indigo;
}
/* #116. Object Literal Recap and creation of objects */
/* #117. Classes */
/* #118. Class constructors */
/* #119. Class Methods & Method Chaining - finding the methods*/
/* #120. Class Inheritance (subclasses) */